@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programmer: @ViewData["Programador"]</p>

<address>
    <strong>More Information: </strong> <a href="http://www.gmail.com">vitor.perez@aluno.ifsp.edu.br</a>
</address>
